table {
    justify-content: center;
    border-collapse: collapse;
    margin: auto;
    width: auto;
    max-width: 800px;
    margin: 100px auto;
}

caption {
    padding: 5px 20px;
    font-size: 1.5em;
    font-weight: 500;
}

th {
    cursor: pointer;
    border-right: 1px solid #868e96;
    border-bottom: 3px solid #868e96;
    font-size: 16px;
    min-width: auto;
    height: 50px;
    background-color: #1b1e24;
    color: #D5DDE5;
}

th:first-of-type {
    border-top-left-radius: 5px;
}

th:last-of-type {
    border-top-right-radius: 5px;
    border-right: none;
}

td {
    font-size: 18px;
    height: 65px;
    padding: 0px 10px;
    border: 1px solid #868e96;
}

tbody:last-of-type tr td:first-of-type {
    border-bottom-left-radius: 5px;
}

table tbody:nth-of-type(even)
{
    background-color: #ced4da;
}

.table-title {
    background-color: #4c6ef5;
    border-radius: 5px;
    color: aliceblue;
    padding: 15px 0;
    font-size: 1.5em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.expired {
    background-color: #ff6b6b;
}

.about-to-expire {
    background-color: #ffe066;
}

.active {
    background-color: transparent;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header-name {
    margin: auto 20px;
}


.sorting-state {
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    margin: auto 5px;
}